<%- include("partials/header.ejs") %>

<!-- seccion principal de la tarjeta de la app -->
<section>
<div class="container tarjeta d-flex">
  <h1>Fucnionando</h1>
   
    <% if (locals.temp) {%>

      <img src="<%=imagen%>" alt="">  <p><%=temp%> °C</p>
        
    <%}%>
 
  </body>
</div>
</section>
</html>
<%- include("partials/footer.ejs") %>