<%- include("partials/header.ejs") %>

<!-- seccion principal de la tarjeta de la app -->
<h5 class="card-title">Clima</h5>
<section>
<div class="container tarjeta card">
  
  <div class="container dentro">
   
   
      
      
    
      <div class="icono tabla">
        <img class="icon" src="<%=data.current.condition.icon%>" alt="">  
      </div>
      <div class="temp tabla" >
        <p class="card-text"><%=data.current.temp_c%> °C</p>
      </div>
      <div class="tabla">
        <p>Viento</p>
      </div>
      <div class="tabla">
        <p>velocidad de viento</p>
      </div>  
      <div class="tabla">
        <p>Humedad</p>
      </div>  
      <div class="tabla">
        <p>76%</p>
      </div>
      <div class="tabla">
        <p>UV</p>
      </div>
      <div class="tabla">
        <p>MUcho poco?</p>
      </div>
      <div class="tabla">
        <p>Mañana</p>
      </div>
      <div class="tabla">
        <p>lluvia </p>
      </div>
      
     
      

    </div>
  </div>
 
  </body>
</div>
</section>
</html>
<%- include("partials/footer.ejs") %>